<h1>Editar Taller</h1>

<% form_for(@workshop) do |f| %>
  <%= f.error_messages %>

  <table>  
  <tr><td>* Parroquia </td><td>
    <select name="workshop[parish_id]">
      <% if @parish  
     @parish.each do |parish| %>
    <option value="<%=parish.id%>" <%='selected' if parish.id == @workshop.parish_id %>>
               <%=parish.parish_name%>
    </option>
<%end%>
     <%end%>
</select>
    
    
  </td></tr>
  
  <tr>
    <td>* Encargado</td>
    <td><%= f.text_field :in_charge %></td>
  </tr>  
  <tr>
    <td>* Curso</td>
    <td><%= f.text_field :course %></td>
  </tr> 
  <tr>
    <td>Observaciones</td>
    <td><%= f.text_area :observations , :rows=>6, :cols=>22%></td>
  </tr> 
  <tr align="right">
      <td colspan="2">         
          <%= f.submit 'Actualizar' %>
    <button type="reset">Limpiar</button>
    <%= link_to 'Ver', @workshop %> |
    <%= link_to 'Atras', workshops_path %>
      </td>
    </tr>  
  <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
</table>  
<% end %>

