<h1>Parroquias</h1>

<% form_tag parishes_path, :method => 'get' do %>
  <p>
    Parametro: <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>
<table>
  <tr>
    <td>
      <DIV align="right">   
        <%= button_to 'Crear Parroquia', new_parish_path %>
      </div>
    </td>
  <tr>
    <td>
      <table border="3">
        <tr id ='head-table'>
          <th>Nombre Parroquia</th>
          <th>Ubicacion</th>
          <th>Telefono</th>
          <th>Estado</th>
          <th colspan="3"> Acciones</th>
        </tr>

        <% @parishes.each do |parish| %>
          <%if parish.state %>
            <tr>
              <td><%= link_to  parish.parish_name,parish %></td>
              <td><%=h parish.ubication %></td>
              <td><%=h parish.telephone %></td>
              <td><%=h parish.current_state %></td>
              <td><%= link_to 'Editar', edit_parish_path(parish) %></td>
<!--              <td><%= link_to 'Eliminar', parish, :confirm => 'Esta seguro que desea eliminar esta parroquia?', :method => :delete %></td> -->
            </tr>
          <%end%>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<br />