<%if current_user%>
<h1>Crear Parroquia</h1>

<% form_for(@parish, :html => {:multipart => true})do |p| %>
  <%= p.error_messages %>
    <table>
      <tr>
        <td>*Nombre Parroquia</td>
        <td><%= p.text_field :parish_name %></td>
      </tr>
      <tr>
        <td>*Ubicacion</td>
        <td><%= p.text_field :ubication %></td>
      </tr>
      <tr>
        <td>*Vicaria a la que Pertenece:</td>
        <td><select name="parish[vicariou_id]"> 
<% if @vicariou  
    @vicariou.each do |vicariou| %>
    <option value="<%=vicariou.id%>">
               <%=vicariou.name_vicariou%>
    </option>
      <%end%>
    <%end%>
</select></td>
      </tr>
        <td>*Transporte</td>
        <td><%= p.text_field :transport %></td>
      </tr>
      <tr>
        <td>*Telefono Parroquia</td>
        <td><%= p.text_field :telephone %></td>
      </tr>
      <tr>
        <td>Nombre del Contacto</td>
        <td><%= p.text_field :contact %></td>
      </tr>
      <tr>
        <td>Telefono Contacto</td>
        <td><%= p.text_field :contact_telephone %></td>
      </tr>

          <tr>
      <td>* <%= "Estado" %> </td>
      <td><%= p.select  :current_state, Parish::PARISH_STATES %></td>
    </tr>
      <tr>
        <td>*Nombre del Parroco</td>
        <td><select name="parish[pastor_id]">
    <% if @pastor  
    @pastor.each do |pastor| %>
    <option value="<%=pastor.id%>">
               <%=pastor.name+" "+pastor.primary_last_name+" "+pastor.second_last_name%>
    </option>
      <%end%>
    <%end%>
</select></td>
      </tr>
      <tr>
      <td><%= "Fotografia De La Parroquia"  %> </td>
      <td><%= file_column_field "parish",  "parish_photo" %></td>
    </tr>
      <tr>
        <td>*  Estos campos son obligatorios</td>
      </tr>
      <tr align="right">
        <td colspan="2">
          <%= p.submit 'Registrar' %>
          <button type="reset">Limpiar</button>
          <%= link_to 'Cancelar', parishes_path %>
        </td>
      </tr>
    </table>
<% end %>
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>

