<h1>Ver Parroquia</h1>
  <table>
    <tr>
      <td>
        <b>Nombre Parroquia:</b>
      </td>
      <td><%=h @parish.parish_name %></td>
    </tr>
    <tr>
      <td>
        <b>Ubicacion:</b>
      </td>
      <td><%=h @parish.ubication %></td>
    </tr>
    <tr>
      <td>
        <b>Vicaria a la que pertenece:</b>
      </td>
      <td><%=h @vicariou.name_vicariou %></td>
    </tr>
    <tr>
      <td>
        <b>Transporte:</b>
      </td>
      <td><%=h @parish.transport %></td>
    </tr>
    <tr>
      <td>
        <b>Telefono:</b>
      </td>
      <td><%=h @parish.telephone %></td>
    </tr>
    <tr>
        <td><b>Contacto:</b></td>
        <td><%=h @parish.contact %></td>
      </tr>
      <tr>
        <td><b>Telefono del Contacto:</b></td>
        <td><%=h @parish.contact_telephone %></td>
      </tr>
    <tr>
      <td>
        <b>Nombre del Parroco:</b>
      </td>
      <td><%=h @pastor.name+" "+@pastor.primary_last_name+" "+@pastor.second_last_name %></td>
    </tr>
        <tr>
      <td>
        <b>Estado</b>
      </td>
      <td><%=h @parish.current_state %></td>
    </tr>
    <tr>
      <td>
        <b>Sensibilizada</b>
      </td>
      <td><%=h @parish.sensitize? %></td>
    </tr>
    <tr>  
      <td><%= "Imagen" %></td>
      <% if @parish.parish_photo %>
      <td><%=  image_tag url_for_file_column("parish", "parish_photo"), :size=>"300x200" %></td>
      <% else %>
      <td>No Esta Disponible La Fotografia</td>
      <% end   %>
    </tr>
  </table>


<%= link_to 'Editar', edit_parish_path(@parish) %> |
<%= link_to 'Volver', parishes_path %>