<%if current_user%>
  <h1>Editar Párroco</h1>

  <% form_for(@pastor) do |f| %>
    <%= f.error_messages %>

    <table>

      <tr>
        <td><%= f.label :name, "* Nombre" %></td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><%= f.label :primary_last_name, "* Apellido Paterno" %></td>
        <td>
          <%= f.text_field :primary_last_name %>
        </td>
      </tr>


      <tr>
        <td>&nbsp;&nbsp;&nbsp;Apellido Materno</td>
        <td>
          <%= f.text_field :second_last_name %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :date_of_birth, "* Fecha de Nacimiento" %></td>
        <td><%= f.date_select :date_of_birth ,  :start_year => 1935%></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;Teléfono</td>
        <td>
          <%= f.text_field :phone_number, :maxlength => 50, :size =>30 %>
        </td>
      </tr>      

      <tr>
        <td>&nbsp;&nbsp;&nbsp;Celular</td>
        <td>
          <%= f.text_field :cellphone_number, :maxlength => 50, :size =>30 %>
        </td>
      </tr>

      <tr align="right">
        <td colspan="2">
          <%= f.submit 'Guardar' %>
          <%= link_to 'Ver', :action => :show %>
          <%= link_to 'Cancelar', pastors_path %>
        </td>
      </tr>

    </table>

    <p>

    </p>
  <% end %>
<%else%>
  <h2>No puede realizar esta acción, por favor contáctese con el administrador del sistema</h2>
<%end%>