<%if current_user%>
<h1>Párrocos</h1>

<p>
<% form_tag pastors_path, :method => 'get' do %>
      Nombre: <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil %>
      <% end %>
</p>

<table>
  <tr align="right">
    <td>
      <%=button_to 'Crear Párroco', new_pastor_path %>
    </td>
  </tr>
  <tr>
    <td colspan="2">

    <table border="3">
      <tr id = 'head-table'>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Telefono</th>
        <th>Celular</th>
        <th colspan="3">Accion</th>
      </tr>

      <% @pastors.each do |pastor| %> 
      <% if pastor.state == true %>
      <tr>
        <td><%= link_to pastor.name, pastor %></td>
        <td><%= h pastor.primary_last_name %></td>
        <td><%= h pastor.second_last_name %></td>
        <td><%= h pastor.phone_number %></td>
        <td><%= h pastor.cellphone_number %></td>
        <td><%= link_to 'Editar', edit_pastor_path(pastor) %></td>
        <td><%= link_to 'Eliminar', pastor, :confirm => 'Esta Seguro Que Desea Eliminar A Este Parroco?', :method => :delete %></td>
        
      </tr>
    <% end %>
      <%end%>
    </table>

    </td>
  </tr>
</table>
<br />
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>