<%if current_user%>
<h1>Nuevo Párroco</h1>

<% form_for(@pastor) do |f| %>
  <%= f.error_messages %>

    <table>

      <tr>
        <td>* Nombre</td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td>* Apellido paterno</td>
        <td><%= f.text_field :primary_last_name %></td>
      </tr>

      <tr>
        <td>* Apellido materno</td>
        <td><%= f.text_field :second_last_name %></td>
      </tr>      
      <tr>
      <td>* Fecha de Nacimiento</td>
      <td><%= f.date_select :date_of_birth,  :start_year => 1935%></td>            
    </tr>
      <tr>
        <td>Telefono</td>
        <td><%= f.text_field :phone_number %></td>
      </tr> 
      
      <tr>
        <td>Celular</td>
        <td><%= f.text_field :cellphone_number %></td>
      </tr>     
      
            
      <tr align="right">
        <td colspan="2">
          <%= f.submit 'Registrar' %>
          <button type="reset">Limpiar</button>
          <%= link_to 'Cancelar', pastors_path %>
        </td>
      </tr>

    </table>
<% end %>
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>