<h1>Ver Obra Social</h1>
<table>
  <tr>
    <td><b>Parroquia:</b></td>
    <td><%=h @social_work.parish %></td>
  </tr>
  <tr>
    <td><b>Nombre Obra Social:</b></td>
    <td><%=h @social_work.name %></td>
  </tr>
  <tr>
    <td><b>Tipo Obra Social:</b></td>
    <td><%=h @social_work.social_work %></td>
  </tr>
  <tr>
    <td><b>Responsable:</b></td>
    <td><%=h @social_work.responsible %></td>
  </tr>
  <tr>
    <td><b>Ubicacion:</b></td>
    <td><%=h @social_work.location %></td>
  </tr>
  <tr>
    <td><b>Telefono:</b></td>
    <td><%=h @social_work.phone %></td>
  </tr>
  <tr>
    <td><b>Celular:</b></td>
    <td><%=h @social_work.movil %></td>
  </tr>
  <tr>
    <td><b>Email:</b></td>
    <td><%=h @social_work.email %></td>
  </tr>
  <tr>
    <td><b>Transporte:</b></td>
    <td><%=h @social_work.transport %></td>
  </tr>
  <tr>
    <td><b>Descripcion:</b></td>
    <td><%=h @social_work.description %></td>
  </tr>
  <tr>
    <td><b>Responsable del llenado:</b></td>
    <td><%=h @social_work.responsible_filling %></td>
  </tr>
  <tr align="right">
      <td colspan="2">
        <%= link_to 'Editar', edit_social_work_path(@social_work) %> |
        <%= link_to 'Volver', social_works_path %>
      </td>
    </tr>
</table>