<%if current_user%>
<h1>Editar Curso de Formacion</h1>

<% form_for(@courses_type, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table>

    <tr>
      <td>* Nombre</td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td width="250">* Descripcion</td>
      <td width="250"><%= f.text_area :description %></td>
    </tr>


    <tr align="right">
      <td colspan="2">
        <%= f.submit 'Guardar' %>
        <%= link_to 'Ver', :action => :show %>
        <%= link_to 'Cancelar', courses_types_path %>
      </td>
    </tr>

  </table>

<% end %>
<%else%>
  <h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>