<%if current_user%>
<h1>Editing workshops_course</h1>

<% form_for(@workshops_course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :workshop_id %><br />
    <%= f.text_field :workshop_id %>
  </p>
  <p>
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @workshops_course %> |
<%= link_to 'Back', workshops_courses_path %>
<%else%>
<h2>No puede realizar esta acción, por favor contáctese con el administrador del sistema</h2>
<%end%>