<%if current_user%>
<h1>Grupos</h1>

<p>
  <% form_tag groups_path, :method => 'get' do %>
    Nombre: <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>
</p>

<table>
  <tr align="right">
    <td>
      <%=button_to 'Crear Grupo', new_group_url %>
    </td>
  </tr>
  <tr>
    <td colspan="2">

      <table border="3">
        <tr id = 'head-table'>
          <th>Nombre</th>
          <th>Responsable</th>
          <!--<th>Voluntarios</th>-->
          <th colspan="3">Acciones</th>
        </tr>

        <% @groups.each do |group| 
            if group.id != 0 && group.state%>
            <tr>
              <td><%= link_to group.name, group %></td>
              <td><%=h group.volunteer %></td>
              <!--<td><#%= link_to 'Voluntarios', volunteers_url %></td>-->
              <td><%= link_to "voluntarios", :controller => "volunteers", :group=> group.id %></td>              
              <td><%= link_to 'Editar', edit_group_url(group) %></td>
              <td><%= link_to 'Eliminar', group, :confirm => 'Esta seguro que desea eliminar el grupo?', :method => :delete %></td>
            </tr>
          <% end 
        end %>
      </table>

    </td>
  </tr>
</table>
<%else%>
  <h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>