<h1>Ver Grupo</h1>

<table>

  <tr>
    <td>Nombre</td>
    <td><%=h @group.name %></td>
  </tr>

  <tr>
    <td>Responsable</td>
    <td><%=h @group.volunteer %></td>
  </tr>

  <tr>
    <td>Voluntarios</td>
    <td>
      <ul style="list-style-type: disc;">
      <% volunteers = Volunteer.find(:all,:conditions => ['group_id = ? ', "#{@group.id}"])
         volunteers.each do |volunteer|%>
        <li><%=h volunteer.to_s %>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr>
      <td>
        <b>Parroquia a la que pertenece:</b>
      </td>
      <td><%=h if @group.parish_id.nil?
                @parish.parish_name %></td>
    </tr>
<tr>  
      <td><%= "Fotografia O Insignia" %></td>
      <% if @group.group_photo %>
      <td><%=  image_tag url_for_file_column("group", "group_photo"), :size=>"300x200" %></td>
      <% else %>
      <td>No Esta Disponible La Fotografia</td>
      <% end   %>
    </tr>
  <tr align="right">
    <td colspan="2">
      <%= link_to 'Editar', edit_group_path(@group) %> |
      <%= link_to 'Volver', groups_path %>
    </td>
  </tr>

</table>