<h1>Nuevo usuario</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>*Nombre de usuario</td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td>*Email</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>*Contraseña</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>*Confirmacion de contraseña</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr align="right">
      <td colspan="2"><%= f.submit 'Registrar' %> <%= link_to 'Atras', root_url %></td>
    </tr>
  </table>

<% end %>
