  <h2>Informacion De Referencia</h2>
  <table  border="0">
  <tr>
    <td width="21%">*Persona De Referencia</td>
    <td><%= f.text_field :reference_person %></td>
    <td>Edad</td>
    <td><%= f.text_field :age_reference %></td>
  </tr>
  <tr>
    <td>*Domicilio </td>
    <td colspan="3"><%= f.text_field :address_reference %></td>
  </tr>
  <tr>
    <td>*Telefono</td>
    <td width="29%"><%= f.text_field :phone_reference %></td>
    <td width="21%">Celular</td>
    <td width="29%"><%= f.text_field :movil_reference %></td>
  </tr>
  <tr>
    <td>*Ocupacion</td>
    <td colspan="3"><%= f.text_field :occupation_reference %></td>
  </tr>
</table>
<br />
  <h2>Otros Datos</h2>
<table  border="0">
  <tr>
    <td width="21%">Caso </td>
    <td width="79%">
     Nuevo <%= f.radio_button(:type_of_case, "Nuevo") %>
      Conocido
      <%= f.radio_button(:type_of_case, "Conocido") %></td>
  </tr>
  <tr>
    <td><p>Ha Recibido Ayuda En Otras Instituciones O Parroquias?<br />

    De Que tipo?</p></td>
    <td><%= f.text_area :did_you_get_another_help, :rows =>3 %></td>

  </tr>
</table>
  * Estos Campos Son Requeridos