<%if current_user%>
<h1>Editar Ficha Social</h1>

<% form_for(@social_card, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
<h2>Informacion De La Parroquia</h2>
  <table width="50%" border="0">
  <tr>
    <td width="15"> Parroquia</td>
    <td width="35%">  <select name="social_card[parish_id]">
            <% @parishes.each do |parish| %>
              <option value="<%=parish.id%>" <%='selected' if parish.id == @social_card.parish_id %>>
                <%=parish.parish_name%>
              </option>
            <%end%>
          </select></td>
   </tr>
  <tr>
    <td width="15%">Fecha</td>
    <td width="35%"> <%= f.date_select :date%></td>
  </tr>
</table>
<br />
<h2>Informacion Personal</h2>
<table width="100%" border="0">
  <tr>
    <td width="15%"><p>*Nombre</p></td>
    <td width="35%"><%= f.text_field :name %></td>
    <td width="15%">*Estado Civil</td>
    <td width="35%"><%= f.text_field :marital_status %></td>
   </tr>
  <tr>
     <td width="15%">&nbsp;</td>
    <td width="35%">&nbsp;</td>
    <td width="15%">*Sexo</td>
    <td width="35%">masculino
      <%= f.radio_button(:gender, "masculino") %>
      femenino
      <%= f.radio_button(:gender, "femenino") %></td>
  </tr>
  <tr>
    <td>Fecha De Nacimiento</td>
    <td><%= f.date_select :birthday,:start_year => 1935 %></td>
    <td >*Lugar De Nacimiento</td>
    <td ><%= f.text_field :birthday_location %></td>
  </tr>
  <tr>
    <td>*CI</td>
    <td><%= f.text_field :identity_card %></td>
    <td >*Domicilio</td>
    <td ><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td>Referencia De Ubicacion</td>
    <td colspan="5"><%= f.text_field :location_reference %></td>
  </tr>
  <tr>
    <td>Telefono Fijo</td>
    <td><%= f.text_field :phone %></td>
    <td >Celular</td>
    <td ><%= f.text_field :movil %></td>
  </tr>
  <tr>
    <td>Grado Escolar</td>
    <td><%= f.text_field :grade_school %></td>
    <td >*Ocupacion</td>
    <td ><%= f.text_field :occupation %></td>
  </tr>
  <tr>
    <td>*Total De Miembros En la Familia </td>
    <td><%= f.text_field :family_members %></td>
    <td >Parroquia A la Que Pertenece</td>
    <td ><%= f.text_field :parish_belongs %></td>
  </tr>

  <tr>
    <td>Derivado Canalizado Por</td>
    <td colspan="5"><%= f.text_field :derivative_by %></td>
  </tr>
  <tr>
    <td>Historia Familiar</td>
    <td colspan="5"><%= f.text_area :family_history, :rows =>3 , :style => "resize:none"%></td>
  </tr>
</table>
 <h2>Informacion De Referencia</h2>
  <table width="100%" border="0">
  <tr>
    <td width="21%">*Persona De Referencia</td>
    <td><%= f.text_field :reference_person %></td>
    <td>Edad</td>
    <td><%= f.text_field :age_reference %></td>
  </tr>
  <tr>
    <td>*Domicilio </td>
    <td colspan="3"><%= f.text_field :address_reference %></td>
  </tr>
  <tr>
    <td>*Telefono</td>
    <td width="29%"><%= f.text_field :phone_reference %></td>
    <td width="21%">Celular</td>
    <td width="29%"><%= f.text_field :movil_reference %></td>
  </tr>
  <tr>
    <td>Ocupacion</td>
    <td colspan="3"><%= f.text_field :occupation_reference %></td>
  </tr>
</table>
<br />
  <h2>Otros Datos</h2>
<table width="100%" border="0">
  <tr>
    <td width="21%">Caso </td>
    <td width="79%"> <%= f.radio_button(:type_of_case, "Nuevo") %>
    Nuevo
      <%= f.radio_button(:type_of_case, "Conocido") %> Conocido</td>
  </tr>
  <tr>
    <td><p>Ha Recibido Ayuda En Otras Instituciones O Parroquias?
    </p></td>
    <td>Si <%= f.radio_button(:did_you_get_another_help, "Si") %>
      No
      <%= f.radio_button(:did_you_get_another_help, "No") %></td>
  </tr>
  <tr>
    <td>De Que tipo?
    </td>
     <td><%= f.text_field :what_kind%></td>
  </tr>
  <tr>  
      <td><%= "Fotografia de la persona" %></td>
      <% if @social_card.social_card_photo %>
      <td><%=  image_tag url_for_file_column("social_card", "social_card_photo"), :size=>"300x200" %>
      <% else %>
      <td>No Esta Disponible La Imagen
      <% end %>
      <br>
      <%= file_column_field "social_card", "social_card_photo"%> </td>
    </tr>
  <tr>
        <td>*  Estos campos son obligatorios</td>
      </tr>

      <tr align="right">
        <td colspan="2">
          <%= link_to 'Ver', @parish %> 
          <%= f.submit 'Guardar' %>
          <%= link_to 'Cancelar', social_cards_path %>
        </td>
      </tr>
</table>
 

<% end %>

<%else%>
  <h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>