<%if current_user%>
<h2>Informacion De La Parroquia</h2>
  <table width="50%" border="0">
  <tr>
    <td width="15"> Parroquia</td>
    <td width="35%"> <%= h Parish.find(@social_card.parish_id).parish_name %></td>
   </tr>
  <tr>
    <td width="15%">Fecha</td>
    <td width="35%"> <%= h @social_card.date %></td>
  </tr>
</table>
<br />
 <h2>Informacion Personal</h2>
<table border="0">
  <tr>
    <td width="15%"><p>Nombre</p></td>
    <td width="35%"><%=h @social_card.name %></td>
    <td width="15%">Estado Civil</td>
    <td width="35%"><%= h @social_card.marital_status %></td>
   </tr>
  <tr>
     <td width="15%">&nbsp;</td>
    <td width="35%">&nbsp;</td>
    <td width="15%">Sexo</td>
    <td width="35%"><%=h @social_card.gender %></td>
  </tr>
  <tr>
    <td>Fecha De Nacimiento</td>
    <td><%=h @social_card.birthday %></td>
    <td >Lugar De Nacimiento</td>
    <td ><%= h @social_card.birthday_location %></td>
  </tr>
  <tr>
    <td>CI</td>
    <td><%= h @social_card.identity_card %></td>
    <td >Domicilio</td>
    <td ><%= h @social_card.address %></td>
  </tr>
  <tr>
    <td>Referencia De Ubicacion</td>
    <td colspan="5"><%= h @social_card.location_reference %></td>
  </tr>
  <tr>
    <td>Telefono Fijo</td>
    <td><%= h @social_card.phone %></td>
    <td >Celular</td>
    <td ><%= h @social_card.movil %></td>
  </tr>
  <tr>
    <td>Grado Escolar</td>
    <td><%= h @social_card.grade_school %></td>
    <td >Ocupacion</td>
    <td ><%= h @social_card.occupation %></td>
  </tr>
  <tr>
    <td>Total De Miembros En la Familia </td>
    <td><%=h @social_card.family_members %></td>
    <td >Parroquia A la Que Pertenece</td>
    <td ><%= h @social_card.parish_belongs %></td>
  </tr>

  <tr>
    <td>Derivado Canalizado Por</td>
    <td colspan="5"><%=h @social_card.derivative_by %></td>
  </tr>
  <tr>
    <td>Historia Familiar</td>
    <td colspan="5"><%= h @social_card.family_history %></td>
  </tr>
</table>
  <h2>Informacion De Referencia</h2>
  <table border="0">
  <tr>
    <td width="21%">Persona De Referencia</td>
    <td><%=  h @social_card.reference_person %></td>
    <td>Edad</td>
    <td><%= h @social_card.age_reference %></td>
  </tr>
  <tr>
    <td>Domicilio </td>
    <td colspan="3"><%=  h @social_card.address_reference %></td>
  </tr>
  <tr>
    <td>Telefono</td>
    <td width="29%"><%=  h @social_card.phone_reference %></td>
    <td width="21%">Celular</td>
    <td width="29%"><%=  h @social_card.movil_reference %></td>
  </tr>
  <tr>
    <td>Ocupacion</td>
    <td colspan="3"><%= h @social_card.occupation_reference %></td>
  </tr>
</table>
<br />
  <h2>Otros Datos</h2>
<table  border="0">
  <tr>
    <td width="21%">Caso </td>
    <td><%= h @social_card.type_of_case %></td>
  </tr>
  
  <tr>
    <td><p>Ha Recibido Ayuda En Otras Instituciones O Parroquias?<br />
    </p></td>
    <td><%= h @social_card.did_you_get_another_help%></td>
  </tr>
  <tr>
    <td>De Que tipo?
    </td>
     <td><%= h @social_card.what_kind%></td>
  </tr>
</table>
  
  
<%= link_to 'Editar', edit_social_card_path(@social_card) %> |
<%= link_to 'Atras', social_cards_path %>
<%else%>
  <h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>