<div id="content-wrap">
    		<%= render "main_page/lateralMenu.html" %>

  <div id="main" >
<h1>Campañas</h1>

<p>
  <% form_tag  :controller => "campaings", :action => "index_public",:id =>'find', :method => 'get' do %>
    Nombre: <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>
</p>
<br/>
<br/>
<br/>

<table>
  <tr>
    <td>
      <table border="3">
        <tr id = 'head-table'>
          <th>Nombre</th>
          <th>Lugar</th>
          <th>Descripcion</th>
          <th>Fecha de inicio</th>
          <th>Fecha de finalizacion</th>
          <th>Accion</th>

        </tr>

        <% @campaings.each do |campaing| %>
          <tr>
            <td><%=link_to campaing.name, :controller => "campaings", :action => "show_public", :id =>campaing %></td>
            <td><%=h campaing.location %></td>
            <td><%=h campaing.description %></td>
            <td><%=h campaing.date_ini %></td>
            <td><%=h campaing.date_end %></td>
            <td><%= link_to 'Ver',  :controller => "campaings", :action => "show_public", :id =>campaing %></td>
        <% end %>
          
      </table>
      
    </td>      
  </tr>  
</table>
<br/>
</div>
</div>