<div id="content-wrap">


  
  <div id="main" >
          <CENTER><h2><%= @campaing.name %></h2></center>          
          
          <br/>
          <br/>
          <p class="mostrarContent">
            <b>Fecha de inicio:<%= @campaing.date_ini %></b>  
          </p>                   

          <p class="mostrarContent">
          <b>Descripcion:</b>
          <br/>
          <%=h @campaing.description %>
          </p>
          <p class="mostrarContent">
            <%= link_to "Ver A Detalle", @campaing %>            
          </p>          
          
  </div>
   <%= render :partial => "main_page/acordeon" %>
    </div>



