<h1>Historial de Cursos</h1>

<p>

</p>
 
<table>
  <tr align="right">
    <td>  
      <%=button_to  'Agregar Historial de Curso', new_history_course_path %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
 
    <table border="3">
      <tr id = 'head-table'>
        <th>Grupo</th>
        <th>Parroquia</th>
        <th>Instructor</th>
        <th>Fecha de Inicio</th>
        <th colspan="2">Acciones</th>
      </tr>

      <% @history_courses.each do |history_course| %>
      <tr>
        <td><%=h history_course.idGroup %></td>
        <td><%=h history_course.idParish %></td>
        <td><%=h history_course.instructor %></td>
        <td><%=h history_course.dateCourse %></td>
        <td><%= link_to 'Ver', history_course %></td>
        <td><%= link_to 'Editar', edit_history_course_path(history_course) %></td>
      </tr>
      <% end %>
    </table>
    </td>
  </tr>
</table>
<br />

