<%= stylesheet_link_tag "jquery-ui-1.8.13.custom"  %>
<%= stylesheet_link_tag "ui.dropdownchecklist.themeroller"  %>

<%= javascript_include_tag "jquery-1.6.1.min"  %>
<%= javascript_include_tag "jquery-ui-1.8.13.custom.min"  %>
<%= javascript_include_tag "ui.dropdownchecklist-1.4-min"  %>

<%if current_user%>
<CENTER><h1>Actualizar Cursos</h1></center>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>
<%= f.hidden_field :name, :value => CoursesType.find(@course.courses_types_id).name %> 

<TABLE   ALIGN="CENTER">
  
  <tr>        
    <td>* Nombre<br /></td>
    <td><%=  CoursesType.find(@course.courses_types_id).name %></td>
  </tr>
  
  <tr>
    <td>* Responsable<br /></td>
    <td><%= f.text_field :responsible %></td>
  </tr>
  
  <tr>
    <td>&nbsp&nbsp&nbspFecha<br /></td>
    <td><%= f.date_select :date_ini %></td>
  </tr>
    
  <tr>
    <td>&nbsp&nbsp&nbspDescripción<br /></td>
    <td><%= f.text_area :description , :rows=>6, :cols=>22 , :style => "resize:none"%></td>
  </tr>
    <tr>
      <td>* Seleccione los Asistentes</td>
      <td>
        <% lista_voluntarios = Volunteer.all.map { |volunteer| [volunteer.name.to_s + " " + volunteer.last_name, volunteer.id] } %>                                        
        <% volunteers =[]  
          @volunteers_checked.each { |volunteer|
            volunteers.push(volunteer.id)
          }            
        %>
        <%= select_tag "lista_voluntarios", options_for_select(lista_voluntarios,volunteers),:multiple=>true %>                  
      </td>
    </tr>
    
      <tr align="right">
      <td colspan="3">
        <%= f.submit 'Actualizar' %>
        <%= link_to 'Ver', :action => :show %>
        <%= link_to 'Volver', edit_workshop_path(@course.workshop_id) %>
      </td>
    </tr>
     
    <tr>
 <td>*  Estos campos son obligatorios</td>
    </tr>
   </TABLE>
<% end %>
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>

<script type="text/javascript">
        $(document).ready(function() {            
            $("#lista_voluntarios").dropdownchecklist( { emptyText: "Por favor Seleccione Uno", width: 150 } );
        });
</script>
